<div id="wrapper">
    <div id="content">

        <img id="logo" src="/public/assets/images/burger.png" alt="burger picture">
        <h1 id="burger-head">Burger Dive!</h1>
        <div id="table-box">
            <div id="available-burgers" class="burger-display">
                <h2 class="table-heading">Burgers Ready to Eat</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        <p class="burger-name-block">{{burger_name}} <button class="eat-button" data-id="{{this.id}}">Eat Burger!</button></p>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>

            <div id="eaten-burgers" class="burger-display">
                <h2 class="table-heading">Devoured Burgers</h2>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        <p class="burger-name-block">{{burger_name}}</p>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <h2 id="order-burger-header">Order a Burger</h2>
        <form id="burger-form">
            <label id="burger-label">Burger Name</label><input type="text" id="new-burger-name" name="burgerName"><br>
        <button id="order-burger-button" type="submit">Order Burger</button>
        </form>

    </div>
</div>

<script>

        //function to move burger from ready to be eaten to eaten when clicked
    $(".eat-button").on("click", function (event) {
        event.preventDefault();
        var id = $(this).data("id");
        var devoured = {
            eaten: true
            };


        //Send PUT request using AJAX
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: devoured
        }).then( function () {
            console.log("burger eaten");
            location.reload();
        });

    });// end update function

        //function to add a burger
        $("#burger-form").on('submit', function(event) {
            event.preventDefault();
            var newBurger = {
                name: $("#new-burger-name").val()
            }

            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(function() {
                console.log('New burger ordered.');
                location.reload();
            });
        }); //end create new burger function

</script>